*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
    width: 90%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://c4.wallpaperflare.com/wallpaper/12/915/817/architecture-college-oxford-university-wallpaper-preview.jpg); 
    background-position: center;
    background-size: cover;
    position: relative;
}